<button *ngIf="isSuperAdmin()" class="add-new-button" mat-fab color="accent" routerLink="/professors/add">
  <mat-icon style="font-size: 25px;">add</mat-icon>
</button>
<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link
  [routerLink]="routerLink('/professors/dep/')"
  routerLinkActive="active"> Μέλη ΔΕΠ </a>
  <a mat-tab-link
  [routerLink]="routerLink('/professors/edip/')"
  routerLinkActive="active"> Μέλη ΕΤΕΠ / ΕΔΙΠ </a>
  <a mat-tab-link
  [routerLink]="routerLink('/professors/exwterikoi/')"
  routerLinkActive="active"> Εξωτερικοί Διδάσκοντες </a>
</nav>
<router-outlet></router-outlet>


