<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav position="start" [mode]="innerWidth > 767 ? 'side' : 'over'" [(opened)]="sidebarOpened" fixedInViewport="true" fixedTopGap="64"
      class="mat-bg-accent">
      <ng-content></ng-content>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z2" color="primary" class="toolbar">
        <div *ngIf="sidebarShowToggler" class="mr-2">
          <button mat-button (click)="sideNav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="d-flex">
          <div *ngIf="isAdmin()">
            <form [formGroup]="studiesForm">
              <mat-form-field >
                <mat-label>Προγράμματα Σπουδών </mat-label>
                <mat-select formControlName="studies">
                  <mat-option *ngFor="let studies of programStudies" [value]="studies.UrlParameter">{{studies.Name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <div style="margin: auto;" *ngIf="isSuperAdmin()">
            <button  mat-icon-button routerLink="/studies" >
              <mat-icon style="font-size: 27px;cursor:pointer">edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar>
  
      <section class="main-container">
        <router-outlet></router-outlet>
      </section>
  
    </mat-sidenav-content>
</mat-sidenav-container>
  