<mat-toolbar color="accent" class="header mat-elevation-z4 justify-content-between">
  <div class="logo">
    <img src="/assets/images/huaLogoWhiteFull.png" srcset="/assets/images/huaLogoWhiteFull.png" alt="" class="img-fluid full-logo">
    <img src="/assets/images/huaLogoWhite.png" srcset="/assets/images/huaLogoWhite.png" alt="" class="img-fluid small-logo">
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><ng-content></ng-content></li>
    <li *ngIf="isAuthenticated()">
      <button mat-button (click)="logout()">ΑΠΟΣΥΝΔΕΣΗ</button>
    </li>
  </ul>
</mat-toolbar>
  