<ng-container *ngIf="!addLectureConflicts">
<div mat-dialog-title class="d-flex" style="justify-content: center;">Προσθήκη Διάλεξης</div>
<div mat-dialog-content class="main-content" [ngClass]="{'is-loading': isLoading}">
  <span class="d-flex" style="justify-content: center;font-weight: 500;margin-bottom: 20px;"><u>Λεπτομέρειες
    Μαθήματος</u></span>
    <p>
      <b>{{title}}</b>, <span class="dark-disabled-text small-text">{{semester}}o εξάμηνο</span>
    </p>
    <hr>
  <form [formGroup]="courseHoursForm">
    <div class="d-flex" style="margin-bottom: 60px;">

      <div class="ngx-timepicker-field-example" style="margin-right: 60px;">
        <span>Ώρα Έναρξης: </span>
        <ngx-timepicker-field [format]="24" [controlOnly]="true" (timeChanged)="timeChangedStart($event)"
          formControlName="startHour" [min]="'08:00'" [max]="'21:00'">
        </ngx-timepicker-field>
      </div>
      <div class="ngx-timepicker-field-example">
        <span>Ώρα Λήξης: </span>
        <ngx-timepicker-field [format]="24" [controlOnly]="true" (timeChanged)="timeChangedEnd($event)"
          formControlName="endHour" [min]="'08:00'" [max]="'21:00'">
        </ngx-timepicker-field>
      </div>
    </div>
  </form>
  <hr>
  <div>
    <form [formGroup]="recurringForm">

      <div [@.disabled]="disableAnimation">
        <mat-accordion>
          <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header #expandPanel (click)="expandPanel._toggle()">
              <mat-panel-title>
                <mat-slide-toggle formControlName="recurring" (click)="expandPanel._toggle()">Κατ' εβδομαδιαία επανάληψη</mat-slide-toggle>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Κατ' εβδομαδιαία επανάληψη εώς</mat-label>
                <input matInput [matDatepicker]="dp3" [min]="dateStart" formControlName="recurringUntil">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </form>
  </div>
  <hr>
  <div>
    <span class="d-flex mb-3" style="justify-content: center;font-weight: 500"><u>Επιλογή Αμφιθεάτρου</u></span>
    <span>Εξοπλισμός που απαιτείται για το μάθημα</span>
    <ul>
      <!-- [ngStyle]="{'background-color': checkEquipment(equipment) ? 'green' : 'red'}" -->
      <li *ngFor="let equipment of equipment">
          <div style="display: flex;padding:8px;">
            <span >{{equipment.TypeCount}} {{equipment.Type}}</span>
            <mat-icon [ngStyle]="{'color': checkEquipment(equipment) ? 'green' : 'red'}" style="padding-left: 3px;"> {{checkEquipment(equipment) ? 'done' : 'close'}}</mat-icon>
          </div>
      </li>
    </ul>
    <form [formGroup]="auditoriumsForm">
      <mat-form-field>
        <mat-label style="color: black;font-weight: 400;">Αμφιθέατρο</mat-label>
        <mat-select formControlName="auditorium">
          <mat-option *ngFor="let auditorium of auditoriums" [value]="auditorium.AuditoriumId">{{auditorium.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button type="button" (click)="add()"
    [disabled]="auditoriumsForm.invalid || courseHoursForm.invalid || invalidTime || !isEquipmentCompatible">Προσθήκη</button>
</div>
</ng-container>

<ng-container *ngIf="addLectureConflicts" style="width: 600px;height: 700px;">
  <div mat-dialog-title class="d-flex" style="justify-content: center;">Αδυναμία προσθήκης διαλέξεων</div>
  <div mat-dialog-content style="overflow-y: auto;">
    <ul role="list">
      <li *ngFor="let conflict of lectureConflicts" role="listitem" style="margin-bottom: 10px;">
        {{conflict.conflictType === 'professor' ? 'Ο διδάσκων ' + conflict.conflictInfo + ' δεν είναι διαθέσιμος τις παρακάτω ώρες' : 'Το αμφιθέατρο '  + conflict.conflictInfo + ' δεν είναι διαθέσιμο τις παρακάτω ώρες'}}<br>
        <b>{{conflict.startHour | eventDateTime}} - {{conflict.endHour | eventTime}}</b>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button type="button" (click)="close()">Κλείσιμο</button>
  </div>
</ng-container>