<button *ngIf="isSuperAdmin()" class="add-new-button" mat-fab color="accent" routerLink="/auditoriums/add">
  <mat-icon style="font-size: 25px;">add</mat-icon>
</button>
<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link
  [routerLink]="routerLink('/auditoriums/classrooms/')"
  routerLinkActive="active"> Αίθουσες </a>
  <a mat-tab-link
  [routerLink]="routerLink('/auditoriums/laboratories/')"
  routerLinkActive="active"> Εργαστήρια </a>
</nav>
<router-outlet></router-outlet>
