<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
  <div class="row">
    <div class="col-12">
      <button mat-icon-button (click)="routerLink()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="mt-3" style="width: 59%;">
        <p><b>Κωδικός: </b>{{course ? course.CourseCode : ''}} </p>
        <p><b>Περιγραφή: </b>{{course ? course.Description : ''}} </p>
        <p><b>Διδάσκων: </b> <a (click)="courseToProfessorRouter()" style="cursor: pointer;">{{course ? course.Professor.FirstName + ' ' + course.Professor.LastName : ''}}</a> </p>
      </div>
      <div class="mt-10" *ngIf="isSuperAdmin()">
        <button mat-raised-button style="background-color:#ad2121; color: #fff;" (click)="delete()">Διαγραφή</button>
      </div>
    </div>
  </div>
</div>
