<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
    <div class="row">
      <div class="col-12" style="margin-bottom: 25px;">
        <mat-list *ngIf="!isLoading" role="list">
          <mat-list-item *ngFor="let course of obligatoryCourses" role="listitem"><a style="cursor: pointer;" (click)="routerLink(course)">{{course.Title}}</a></mat-list-item>
        </mat-list>
      </div>

      <div class="col-12" style="margin-bottom: 10px;" *ngIf="optionalCourses.length > 0">
        <div style="padding-left: 16px;margin: 15px 0;"><u>Μαθήματα Επιλογής</u></div>
        <mat-list *ngIf="!isLoading" role="list">
          <mat-list-item *ngFor="let course of optionalCourses" role="listitem"><a style="cursor: pointer;" (click)="routerLink(course)">{{course.Title}}</a></mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  