<div mat-dialog-title style="display:flex;justify-content:center;font-weight: bold;">Διαγραφή
     {{type === 'course' ? 'Μαθήματος' : type === 'professor' ? 'Διδάσκοντος' : type === 'lectures' ? 'Διαλέξεων' :  type === 'studies' ? 'Προγράμματος Σπουδών' : 'Αμφιθεάτρου'}}</div>
<div mat-dialog-content class="event-info-modal main-content" style="margin: 30px 0">
    <div [ngStyle]="{'width': (type === 'course' || type === 'professor' || type === 'auditorium' || type === 'studies') ? '80%' : '100%'}">
        <span>Είστε σίγουροι ότι θέλετε να προχωρήσετε στη διαγραφή {{type === 'course' ? 'του μαθήματος:' : type === 'professor' ? 'του διδάσκοντα:' : type === 'lectures' ? 'των διαλέξεων' : type === 'studies' ? 'του προγράμματος σπουδών:' : 'του αμφιθεάτρου:'}} <b>{{deletedItem}} </b> ;</span>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button type="button" (click)="close()" style="margin-right: 5px;">Κλείσιμο</button>
    <button mat-raised-button style="background-color:#ad2121; color: #fff;" (click)="delete()">Διαγραφή</button>
</div>