<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
    <div class="row">
      <div class="col-12">
        <b><span class="d-block mb-3"><button mat-icon-button routerLink="/studies">
              <mat-icon>arrow_back</mat-icon>
            </button></span></b>
        <b><span class="page-title d-block mb-5" style="text-align: center;">Προσθήκη Προγράμματος Σπουδών</span></b>
        <div class="container add-form">
          <form [formGroup]="addProgramStudiesForm" (submit)="add()">
            <div class="row">
  
              <div class="col-12 col-lg-4 form-group">
                <mat-form-field>
                  <input id="name" matInput placeholder="Όνομα *" formControlName="name">
                  <mat-error class="create-consent-error-hint"
                    *ngIf="nameFormField.touched && nameFormField.invalid">
                    Το πεδίο είναι υποχρεωτικό
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="col-12 col-lg-8 form-group">
                <mat-form-field>
                    <span matPrefix>{{baseUrl}}/program/ &nbsp;</span>
                    <input id="urlParameter" matInput placeholder="Παράμετρος url που θα μοιραστεί στους φοιτητές*" formControlName="urlParameter">
                    <mat-error class="create-consent-error-hint"
                        *ngIf="urlParameterFormField.touched && urlParameterFormField.invalid">
                        Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group d-flex justify-content-center mt-5" style="width: 100%">
                <button type="submit" mat-raised-button color="primary" class="ml-2"
                  [disabled]="addProgramStudiesForm.invalid || isLoading">Δημιουργία</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  