<div class="d-flex">
  <form [formGroup]="semesterForm">
    <mat-form-field >
      <mat-label>Εξάμηνο Διαλέξεων</mat-label>
      <mat-select formControlName="semester">
        <mat-option *ngFor="let semester of semesters; let i = index" [value]="i">{{semester}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="d-flex text-center justify-content-center" style="width: 100%;">
    <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h3 style="min-width: 300px;">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="d-flex">
    <div class="program-header-icon" *ngIf="isAdmin()">
      <button  mat-icon-button (click)="deleteLectures()">
        <mat-icon style="font-size: 27px;color: #ad2121; cursor:pointer">delete</mat-icon>
      </button>
    </div>
    <div class="program-header-icon program-header-download" style="margin-left: 0.8rem;">
      <button  mat-icon-button (click)="downloadPDF()"  >
        <mat-icon style="font-size: 27px;">download</mat-icon>
      </button>
    </div>
  </div>
</div>
<br/>
