<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
    <div class="row" style="margin-top: 45px;">
      <div *ngFor="let professor of professors" class="col-9" style="margin-bottom: 15px;" style="margin-bottom: 15px;">
        <mat-accordion>
          <mat-expansion-panel [ngClass]="{'highlight-background': professor.ProfessorId == professorId}" [expanded]="professor.ProfessorId == professorId" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="flex-grow: 0; margin-right: 0px;">
                <span><b>{{professor.FirstName}} {{professor.LastName}}</b></span>
              </mat-panel-title>
              <mat-panel-description *ngIf="professor.Description" class="professor-description">
                  , {{professor.Description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h5 *ngIf="professor.Office !== '-'" class="font-weight-normal mb-1" style="font-size: 15px;"><b>Γραφείο:</b>
              {{professor.Office}}</h5>
            <h5 *ngIf="professor.Phone !== '-'" class="font-weight-normal mb-1" style="font-size: 15px;"><b>Τηλέφωνο:</b>
              {{professor.Phone}}</h5>
            <h5 *ngIf="professor.Email !== '-'" class="font-weight-normal mb-1" style="font-size: 15px;"><b>Email:</b>
              {{professor.Email}}</h5>
            <h5 *ngIf="professor.Website !== '-'" class="font-weight-normal mb-1" style="font-size: 15px;"><b>Ιστοσελίδα: </b>
              <a [href]="professor.Website">{{professor.Website}}</a></h5>
              <div style="margin-top: 20px;" *ngIf="isSuperAdmin()">
                <button mat-raised-button style="background-color:#ad2121; color: #fff;" (click)="delete(professor.FirstName, professor.LastName, professor.ProfessorId)">Διαγραφή</button>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
</div>
  