<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
  <div class="row">
    <div class="col-12">
      <!-- <b><span class="d-block mb-3"><button mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
          </button></span></b> -->
      <b><span class="page-title d-block mb-2">Προγράμματα Σπουδών</span></b>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let studies of programStudies">{{studies.Name}}
            <span *ngIf="studies.StudiesId !== 1" style="margin-left: 20px;">
                <mat-icon style="color: #ad2121; cursor:pointer" (click)="delete(studies.StudiesId, studies.Name)">delete</mat-icon>
            </span>
        </mat-list-item>
      </mat-list>
      <div style="margin-top: 20px;">
        <button mat-raised-button color="accent" routerLink="/studies/add">Προσθήκη</button>
      </div>
    </div>
  </div>
</div>
