<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
  <div class="row">
    <div class="col-12">
      <b><span class="d-block mb-3"><button mat-icon-button (click)="routerLink('/professors/dep/')">
            <mat-icon>arrow_back</mat-icon>
          </button></span></b>
      <b><span class="page-title d-block mb-5" style="text-align: center;">Προσθήκη Διδάσκοντα</span></b>
      <div class="container add-form">
        <form [formGroup]="addProfessorForm" (submit)="addProfessor()">
          <div class="row">

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="firstName" matInput placeholder="Όνομα *" formControlName="firstName">
                <mat-error class="create-consent-error-hint"
                  *ngIf="firstNameFormField.touched && firstNameFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="lastName" matInput placeholder="Επώνυμο *" formControlName="lastName">
                <mat-error class="create-consent-error-hint"
                  *ngIf="lastNameFormField.touched && lastNameFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="phone" matInput placeholder="Τηλέφωνο" formControlName="phone">
                <mat-error class="create-consent-error-hint" *ngIf="phoneFormField.touched && phoneFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="email" matInput placeholder="Email *" formControlName="email">
                <mat-error class="create-consent-error-hint" *ngIf="emailFormField.touched && emailFormField.hasError('required')">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
                <mat-error class="create-consent-error-hint" *ngIf="emailFormField.touched && emailFormField.hasError('email')">
                  Το πεδίο δεν είναι έγκυρο
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="website" matInput placeholder="Website" formControlName="website">
                <mat-error class="create-consent-error-hint"
                  *ngIf="websiteFormField.touched && websiteFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input id="office" matInput placeholder="Γραφείο" formControlName="office">
                <mat-error class="create-consent-error-hint" *ngIf="officeFormField.touched && officeFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-8 form-group">
              <mat-form-field style="width: 100%;">
                <textarea id="description" class="campaign-message" matInput placeholder="Περιγραφή"
                  formControlName="description"></textarea>
                <mat-error class="create-consent-error-hint"
                  *ngIf="descriptionFormField.touched && descriptionFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field >
                <!-- <mat-label>Προγράμματα Σπουδών </mat-label> -->
                <mat-select id="type" formControlName="type">
                  <mat-option [value]="0">ΔΕΠ</mat-option>
                  <mat-option [value]="10">ΕΤΕΠ / ΕΔΙΠ</mat-option>
                  <mat-option [value]="20">Εξωτερικός διδάσκων</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <!-- <div>
              <button type="button" mat-raised-button (click)="selectConsent()" color="primary">
                Σύνδεση Consent
              </button>
              <label style="margin-left: 20px;"><b *ngIf="consentName">Consent Name:</b> {{consentName}}</label>
            </div> -->

            <div class="form-group d-flex justify-content-center mt-5" style="width: 100%">
              <button type="submit" mat-raised-button color="primary" class="ml-2"
                [disabled]="addProfessorForm.invalid || isLoading">{{edit ? 'Ενημέρωση' : 'Δημιουργία'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
