<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
    <div class="row" style="margin-top: 45px;">
      <div *ngFor="let auditorium of auditoriums" class="col-9" style="margin-bottom: 15px;" style="margin-bottom: 15px;">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="flex-grow: 0; margin-right: 0px;">
                <span><b>{{auditorium.Name}}</b></span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="auditorium.Equipment.length > 0">
            <h6>Εξοπλισμός: </h6>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let equipment of auditorium.Equipment" style="font-size: 15px;">
                  <span><b>{{equipment.TypeCount}}</b> {{equipment.Type}}</span>
                </mat-list-item>
            </mat-list>
          </div>
          <div style="margin-top: 20px;" *ngIf="isSuperAdmin()">
            <button mat-raised-button style="background-color:#ad2121; color: #fff;" (click)="delete(auditorium.Name, auditorium.AuditoriumId)">Διαγραφή</button>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
</div>
  