<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
  <div class="row">
    <div class="col-12">
      <b><span class="d-block mb-3"><button mat-icon-button (click)="routerLink('/auditoriums/classrooms/')">
            <mat-icon>arrow_back</mat-icon>
          </button></span></b>
      <b><span class="page-title d-block mb-5" style="text-align: center;">Προσθήκη Αμφιθεάτρου</span></b>
      <div class="container add-form">
        <form [formGroup]="addAuditoriumForm" (submit)="addAuditorium()">
          <div class="row">

            <div class="col-4 form-group">
              <mat-form-field>
                <input matInput placeholder="Όνομα *" formControlName="name">
                <mat-error class="create-consent-error-hint" *ngIf="nameFormField.touched && nameFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field >
                <mat-select id="auditoriumType" formControlName="auditoriumType">
                  <mat-option [value]="0">Αίθουσα</mat-option>
                  <mat-option [value]="10">Εργαστήριο</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="col-12"><b><span class="page-title d-block mb-5" style="text-align: center;">Εξοπλισμός που
                  απαιτείται</span></b></div>

            <div class="col-6">
              <div *ngFor="let equipment of equipment.controls; let i=index">
                <div>
                  <mat-icon *ngIf="i>0" (click)="removeEquipmentField(i)" class="submit-invoices-icon"
                    style="color: red;position: absolute;left: -5%;cursor: pointer;">clear</mat-icon>
                  <mat-form-field style="margin-bottom: 5px;">
                    <div>
                      <input id="typeCount" type="number" min="1" matInput placeholder="Ποσότητα"
                        [formControl]="$any(equipment).controls['typeCount']" required>
                    </div>
                    <mat-error *ngIf="equipment.get('typeCount')!.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                    <mat-error class="create-consent-error-hint" *ngIf="equipment.get('typeCount')!.hasError('min')">
                      Το πεδίο δεν είναι έγκυρο
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <div>
                      <input id="type" type="text" matInput placeholder="Τύπος Εξοπλισμού"
                        [formControl]="$any(equipment).controls['type']" required>
                    </div>
                    <mat-error *ngIf="equipment.get('type')!.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-group">
              <button (click)="addEquipment()" mat-mini-fab color="accent" type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center mt-5" style="width: 100%">
            <button type="submit" mat-raised-button color="primary" class="ml-2"
              [disabled]="addAuditoriumForm.invalid || isLoading">{{edit ? 'Ενημέρωση' : 'Δημιουργία'}}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
