<div mat-dialog-title style="display: flex;justify-content: center;">Επιλογή Διδάσκοντα</div>
<form [formGroup]="filterForm">
<input id="searchName" autocomplete="off" matInput placeholder="Αναζήτηση" formControlName="professor">
</form>
<div mat-dialog-content class=" main-content" [ngClass]="{'is-loading': isLoading}" style="height: 350px;overflow-y: scroll;">
    <mat-selection-list #professorsList [multiple]="false">
        <mat-list-option *ngFor="let professor of professors" [value]="professor">
          {{professor.FirstName + ' '}} {{professor.LastName}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions class="d-flex" style="justify-content: space-between;">
    <span><b>{{professorsList.selectedOptions.selected[0]?.value.FirstName ? 'Διδάσκων:' : ' ' }}</b>
        {{professorsList.selectedOptions.selected[0]?.value.FirstName}} {{professorsList.selectedOptions.selected[0]?.value.LastName}}</span>
    <button type="button" mat-raised-button color="accent" (click)="select()" [disabled]="professorsList.selectedOptions.selected.length === 0">
         Προσθήκη</button>
</div>
