<div class="panel-footer">
<div class="row">
  <div class="col-12 col-sm-6 col-xl-4 event-legend">
      <div>
        <span id="event-first" class="event"></span>
        <span>1ο εξάμηνο</span>
      </div>
      <div>
        <span id="event-second" class="event"></span>
        <span>2ο εξάμηνο</span>
      </div>
      <div>
        <span id="event-third" class="event"></span>
        <span>3ο εξάμηνο</span>
      </div>
      <div>
        <span id="event-fourth" class="event"></span>
        <span>4ο εξάμηνο</span>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 event-legend second-col-event-legend">
    <div>
      <span id="event-fifth" class="event"></span>
      <span>5ο εξάμηνο</span>
    </div>
    <div>
      <span id="event-sixth" class="event"></span>
      <span>6ο εξάμηνο</span>
    </div>
    <div>
      <span id="event-seventh" class="event"></span>
      <span>7ο εξάμηνο</span>
    </div>
    <div>
      <span id="event-eighth" class="event"></span>
      <span>8ο εξάμηνο</span>
    </div>
  </div>
</div>
</div>