/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/**
* Generated theme by Material Theme Generator
* https://material-theme-generator.travetto.io
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

//Calendar
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', auto)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #d3d3d3;
  --primary-lighter-color: #e6e6e6;
  --primary-darker-color: #999999;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #d3d3d3,
  lighter: #e6e6e6,
  darker: #999999,
  200: #d3d3d3, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #232C3A;
  --accent-lighter-color: #bfc3c7;
  --accent-darker-color: #1a222c;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #232C3A,
  lighter: #bfc3c7,
  darker: #1a222c,
  200: #232C3A, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
.main-content, .account-container {
  &.is-loading {
    position: relative;

    &::before {
        background-color: transparentize($color: white, $amount: 0.1);
        background-image: url(/assets/images/huaLogoOld.png);
        background-size: 60px auto;
        background-repeat: no-repeat;
        // background-position: top calc(50% - 15px) left calc(50% - 26.5px);
        background-position: center;
        content: '';
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1038;
    }
    &::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 1039;
        background-image: url(/assets/img/loader.svg);
        background-size: 88px 88px;
        background-repeat: no-repeat;
        background-position: center;
        width: 88px;
        height: 88px;
        left: 50%;
        top: 50%;
        // transform: translate(-50%, -50%);
        margin-left: -44px;
        margin-top: -44px;
        animation: rotation 1s infinite ease-in-out;
    }
  }
}

.mat-bg-accent {
    background: #232C3A;
    color: white;

    &.mat-button, &.mat-icon-button {
      color: white;
    }
}

.mat-primary-light {
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.87);
}

a {
  color:#000;
  font-weight: bold;
}

a:hover
{
    text-decoration: underline;
}

.dark-disabled-text {
  color: rgba(0, 0, 0, 0.54);
}

.small-text {
  font-size: 16px;
}

.mat-button, .mat-icon-button, .mat-mini-fab {
  &:focus {
    outline: 0;
  }
}

.logo>img {
  height: 60px;
}

@media(max-width: 768px){
  .full-logo {
    display:none;
  }
  .small-logo {
    display:block;
  }
}
@media(min-width: 769px){
  .small-logo {
    display:none;
  }
  .full-logo {
    display:block;
  }
}

.mat-sidenav {
    .mat-list-base {
        .mat-list-item, .mat-list-option {
            color: inherit;
            .mat-list-item-content {
                padding: 0;
            }
        }
    }
}
.account-container {
  display: flex;
  align-items: center;
}

.main-container {
    _min-height: calc(100vh - 192px);
    padding: 40px 0;

    .container-fluid>.row>.col-12>mat-spinner {
      position: absolute;
      left: 0;
      right: 0;
      // top: 0;
      // bottom: 0;
      margin: auto;
    }
    mat-card {
      mat-spinner {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
}

@media (min-width: 768px) {
    .main-container {
        min-height: calc(100vh - 192px);
        padding-bottom: 84px;
        padding-top: 30px
    }
}
@media (max-width: 767px) {
    .main-container {
        padding: 24px 8px;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar-nav {
      align-items: center;
      flex-direction: row;

      > li {
        font-size: 1rem;
      }
    }
}

table {
    width: 100%;
}

th.mat-header-cell {
  padding-bottom: 2.5em !important;
  padding-top: 1.25em !important;
  vertical-align: top;

  @media (max-width: 1500px) {
    padding-bottom: 3em !important;

    mat-hint {
      font-size: 122.22222%;
    }
  }
  
  .mat-form-field {
    display: block;
    max-width: 90%;

    .mat-form-field-prefix, .mat-form-field-suffix {
      .mat-icon {
        vertical-align: middle;
      }
    }
  }
}

.filters-selected {
  margin-top: 10px;
  label {
    margin: 4px;
    opacity: 0;
    transition: opacity .15s ease-in;

    &.filters-text {
      opacity: 1;
    }
  }
}
.mat-chip {
  align-items: flex-end;
  font-size: 12px !important;

  .filter-value {
    display: inline-block;
    margin-left: 4px;
  }
}

.element-row  {
    td.mat-cell {
        border-bottom-color: rgba(0,0,0,.12);
        transition: border-bottom-color 0.25s ease-out, background-color 0.25s ease-out;
        background-color: transparent;
    }

    + .detail-row {
        height: 0;
        
        td.mat-cell {
            border-bottom-color: rgba(0,0,0,0);
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    .expand-arrow-down {
      transition: transform 0.25s ease-out;
      transform: none;
      cursor: pointer;
    }

    .requirement-consent-symbol {
      cursor: default;
    }

    &.example-expanded-row {
        td.mat-cell {
            border-bottom-color: rgba(0,0,0,0);
            background-color: rgba(0,0,0,.12);
        }

        .expand-arrow-down {
          transform: rotate(180deg);
        }


        + .detail-row {
            td.mat-cell {
                border-bottom-color: rgba(0,0,0,.12);
                padding-bottom: 1rem;
                padding-top: 1rem;
            }
        }
    }
}
tr.detail-row {
    td.mat-cell {
        transition: padding-bottom 0.25s ease-out, padding-top 0.25s ease-out;
    }

    .details-center, app-order-details {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    app-order-details {
      flex-direction: row;
      margin-right: -15px;
      margin-left: -15px;
      width: calc(100% + 30px);
      margin-bottom: .75em;

      & > * {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .details-table-header {
      align-content: center;
      @extend .mat-primary-light;
      font-weight: 700;
      order: 0;
    }

    .details-table-total {
      align-content: center;
      border-bottom: 2px solid #e6e6e6;
      border-top: 2px solid #e6e6e6;
      font-weight: 700;
      order: 20;
    }
    .details-table-products {
      order: 10;
      align-content: center;

      & ~ .details-table-products {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
    .details-table-products, .details-table-gifts {
      align-content: center;
    }
    .details-table-gifts-header {
      order: 30;
      align-content: flex-end;
      font-weight: 700;
    }
    .details-table-gifts {
      order: 40;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .details-left {
      .mat-button {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
}
.table-details, .details-table-extra-info {
  margin-bottom: 1em;
}
.mat-paginator {
  background-color: transparent;
}
.upload-invoice {
  position: relative;

  .delete-row-icon {
    position: absolute;
    left: -44px;
  }
}
.acceptance-row {
  margin-bottom: 1em;
  
  .mat-icon {
    vertical-align: middle;
  }
}
.file-input-group {
  min-height: 52.42px;
  .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      border-top-width: 0;
    }
  }
}
.mat-drawer-container {
    min-height: calc(100vh - 64px);
}

.second-wholesaler {
    display: flex;
    align-items: center;
    margin-bottom: 0.75em;
}

.mat-snack-bar-container {
  min-width: 285px !important;
  color: #fff;
  background: #009926;
}

.snackbar-success {
  color: #fff;
  background: #009926;
}

.snackbar-error {
  color: #fff;
  background-color: #b30000;
}

.info-hint {
  color: rgba(0, 0, 0, 0.85) !important;
}

.mat-column-expand {
  padding-top: 6px !important;
  padding-left: 8px !important;
  padding-right: 7px !important;
}

.mat-column-requirement {
  padding-top: 5px !important;
}

.mat-sort-header-button:focus {
  outline: 0;
}

.table-responsive {
  .mat-cell, .mat-header-cell {
    padding-left: 4px;
    padding-right: 4px;
  }
  th {
    max-width: 120px;
  }
}

.distribute-error {
  opacity: 1 !important;
}

.submit-invoices-field {
  display: flex;
  margin-top: 10px;
}

.submit-invoices-label {
  margin-left: 7px;
}

.submit-invoices-icon {
  transform: translateY(-10px);
}

.no-sap-gift {
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.87); align-content: center;
  font-weight: 700;
}

.credited-header {
  display: flex;
  justify-content: space-between;
}

.credited-reward {
  font-size: 18px;
  color: green;
  padding-right: 30px;
}

table.table-bordered > tbody > tr > td{
  border: 3px solid #dee2e6;
}

.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #4da1e4;
}

.mat-tab-link {
  border-bottom: 2px solid transparent;
  transition: border-color 500ms cubic-bezier(0.35, 0, 0.25, 1);
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &.active {
    border-color: #4da1e4;
    opacity: 1;
  }
}

mat-spinner {
  position: absolute !important;
  left: 50%;
  z-index: 1000;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}

.highlight-background {
  border-radius: 3px;
  animation: highlight 2500ms ease-out;
}
@keyframes highlight {
  0% {
    background-color: grey;
  }
  100% {
    background-color: white;
  }
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.mat-dialog-container {
  min-width: 385px;
  
  .mat-form-field {
    min-width: 100%;
  }
  
  label.mat-raised-button {
    margin-top: 10px;
    vertical-align: top;
  }
}

.cal-month-view {
  min-height: 650px;
  background-color: transparent;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
}

.mat-dialog-container {
  min-width: 600px;
  min-height: 350px;
}

.event-legend {
  font-size: 17px;
  color: #666;
  line-height: 10px;
  font-weight: 500;
}

.panel-footer {
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-footer .event-legend>div {
  margin-bottom: 15px;
}

.event-legend .event {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.event-legend .event {
  font-weight: 500;
}

.panel-footer .event {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.event-info-modal {
  div {
    display: flex;
    margin-bottom: 15px;
  }

  span:first-of-type {
    margin-right: 5px;
  }
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  .mat-icon{
    font-size: 35px;
  }
}

#external-events-title {
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 10px;
}

#event-first {
  background-color: #ad2121;
}

#event-second {
  background-color: #1e90ff;
}

#event-third {
  background-color: #006400;
}

#event-fourth {
  background-color: #800080;
}

#event-fifth {
  background-color: #ffb84d;
}

#event-sixth {
  background-color: #000000;
}

#event-seventh {
  background-color: #ff99cc;
}

#event-eighth {
  background-color: #0000cc;
}

@media (min-width: 576px) {
  .second-col-event-legend {
      text-align: center;
  }
}
@media (max-width: 575px) {
  .second-col-event-legend {
      text-align: initial;
  }
}

.card-external-events {
  border: 0;
  .card-body {
    padding: 0;
  }
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 1);
}

.professor-description {
  @media (max-width: 768px) {
    display: none !important; 
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;

  .mat-form-field {
    font-size: 15px;
    .mat-form-field-infix {
      border-top: 1.84375em solid transparent;
    }
  }
}

.add-form {
  .mat-form-field {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}

.add-new-button {
  position: fixed !important;
  bottom: 8%;
  right: 5%;
}
.add-new-button:focus {outline:0;}

.delete-row-icon:focus, 
.delete-row-icon:active:focus, 
.delete-row-icon.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  background: rgba(44, 44, 44, 0.32);
}

.program-header-icon {
  button:first-of-type {
    border-radius: 100%;
    box-shadow: 0px 0px 10px #888;
    padding-right: 10%;
  }
  @media (max-width: 850px) {
    position: relative !important; 
  }
}

.program-header-download {
  @media (max-width: 850px) {
    margin-left: 0 !important
  }
}