.error-container {
    min-height: 100vh !important;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 168px;
    background-color: #d3d3d3;
    background-size: cover;
}