<app-shared-header></app-shared-header>
<div class="error-container">
    <div class="container">
        <div class="row">
        <div class="col-lg-6 offset-lg-3 col-10 offset-1">
            <mat-card class="text-center p-4">
                <mat-card-title>Η σελίδα δεν υπάρχει!</mat-card-title>
                <mat-card-content>Δυστυχώς δεν βρέθηκε η σελίδα που ζητήσατε.</mat-card-content>
                <a mat-raised-button color="primary" (click)="routerLink()">ΕΠΙΣΤΡΟΦΗ ΣΤΗΝ ΑΡΧΙΚΗ</a>
            </mat-card>
        </div>
        </div>
    </div>
</div>