<div mat-dialog-title>{{event.title}}, <span class="dark-disabled-text small-text">{{event.semester}}o εξάμηνο</span></div>
<div mat-dialog-content class="event-info-modal main-content" [ngClass]="{'is-loading': isLoading}">
    <div>
        <span><mat-icon>today</mat-icon></span><span> {{event.start | eventDate}}</span>
    </div>
    <div>
        <span><mat-icon>schedule</mat-icon></span><span>{{event.start | eventTime}} - {{event.end | eventTime}}</span>
    </div>
    <div>
        <span><mat-icon>person</mat-icon></span><span>{{event.professorFirstName}} {{event.professorLastName}}</span>
    </div>
    <div>
        <span><mat-icon>place</mat-icon></span><span>{{auditorium}}</span>
    </div>
    <div *ngIf="isAdmin()">
        <span><mat-icon style="color: #ad2121; cursor:pointer" (click)="delete()">delete</mat-icon></span>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button type="button" (click)="close()">Κλείσιμο</button>
</div>