<button *ngIf="isSuperAdmin()" class="add-new-button" mat-fab color="accent" routerLink="/courses/add">
    <mat-icon style="font-size: 25px;">add</mat-icon>
</button>
<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link *ngFor="let semester of semesters; let i = index" [routerLink]="routerLink(i + 1)"
    routerLinkActive="active"> <span style="color:black"><b>{{semester}}</b></span> </a>
</nav>
<router-outlet></router-outlet>