<h3 class="nav-section">ΠΡΟΓΡΑΜΜΑ</h3>
<mat-nav-list>
  <mat-list-item>
    <a matLine (click)="routerLink('/program/')"  [ngClass]="{'active': isActive('/program/')}">
      Ακαδημαϊκό Ημερολόγιο
    </a>
  </mat-list-item>

</mat-nav-list>

<h3 class="nav-section">ΤΜΗΜΑ</h3>
<mat-nav-list>
    <mat-list-item>
        <a matLine (click)="routerLink('/courses/semester/1/')" [ngClass]="{'active': isActive('/courses/')}">
          Μαθήματα
        </a>
      </mat-list-item>
    
      <mat-list-item>
        <a matLine (click)="routerLink('/professors/dep/')" [ngClass]="{'active': isActive('/professors/')}">
          Διδάσκοντες
        </a>
      </mat-list-item>
    
      <mat-list-item>
        <a matLine (click)="routerLink('/auditoriums/classrooms/')" [ngClass]="{'active': isActive('/auditoriums/')}">
          Αίθουσες
        </a>
      </mat-list-item>
</mat-nav-list>