.nav-section {
    background: rgba(0, 0, 0, 0.32);
    color: rgba(255, 255, 255, 0.87);
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
}
a {
    &:hover {
        text-decoration: none;
    }
}
.mat-nav-list {
    padding-top: 0;
  
    &.mat-list-base {
        .mat-list-item, .mat-list-option {
            .mat-line {
                padding: 12px 16px;
                position: relative;
                align-content: center;
                height: inherit;

                &.active {
                    color: #4da1e4;
                }
            }
        }
    }
}