<section class="main-container account-container" [ngClass]="{'is-loading': isLoading}">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-card style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                <mat-card-title>
                  <p>Σύνδεση στην υπηρεσία</p>
                </mat-card-title>
                <mat-card-content>
                  <mat-form-field class="full-width-input" style="width: 100%;">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="emailFormField.touched && emailFormField.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                    <mat-error *ngIf="emailFormField.touched && emailFormField.hasError('email')">
                      Εισάγετε ένα έγκυρο email
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width-input" style="width: 100%;">
                    <input matInput type="password" placeholder="Κωδικός" formControlName="password" required>
                    <mat-error *ngIf="passwordFormField.touched && passwordFormField.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                  </mat-form-field>
                  <div style="display: flex; flex-direction: column;margin-top: 15px;">
                    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" style="margin: auto;">Είσοδος</button>
                    <div *ngIf="wrongCredentials" style="text-align: center;margin-top: 15px;color: #ff0000;">
                      Το email και ο κωδικός πρόσβασης δεν ταιριάζουν
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </form>
        </div>
      </div>
    </div>
  
  </section>