<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoadingCourses || isLoadingLectures}">
  <div class="row">

      <!-- [ngClass]="(step=='step1')?'my-class1':'my-class2'" -->
      <div [ngClass]="{'col-12 col-md-9': isAdmin() && externalEvents.length > 0, 'col-12': !isAdmin() || externalEvents.length === 0}">

        <app-user-program-header [(view)]="view" [(viewDate)]="viewDate" (download)="downloadPDF()" (delete)="deleteLectures()" (semester)="lecturesBySemester($event)">
        </app-user-program-header>    

        <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          [locale]="locale" (eventClicked)="handleEvent('Clicked', $event.event)">
        </mwl-calendar-month-view>
        <app-user-program-footer></app-user-program-footer>
      </div>
      <div *ngIf="isAdmin() && externalEvents.length > 0" class="col-12 col-md-3">
        <div id="external-events-title">Μαθήματα που δεν έχουν προστεθεί σε διαλέξεις</div>
        <ng-container *ngFor="let semester of semesters; let i=index">
        <mat-accordion [matBadge]="badgeIndicator(i + 1) > 0 ? badgeIndicator(i + 1) : null" matBadgeColor="warn">
          <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" class="mb-3" [disabled]="!hasSemesterAssignedCourses(i + 1)">
            <mat-expansion-panel-header>
              <mat-panel-title style="flex-grow: 0; margin-right: 0px;">
                <span><b>{{semester}}</b></span>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="card card-external-events" mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
              <div class="card-body">
                <ul>
                  <li *ngFor="let event of (externalEvents | courseBySemester: i + 1) as events" mwlDraggable [dropData]="{event: event}"
                    [touchStartLongPress]="{ delay: 300, delta: 30 }" dragActiveClass="drag-active">
                    <a href="javascript:;" style="cursor: move;">
                      {{ event.title }}
                    </a>
                  </li>
                </ul> 
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      </div>
  </div>
</div>
