<div class="container-fluid main-content" [ngClass]="{'is-loading': isLoading}">
  <div class="row">
    <div class="col-12">
      <b><span class="d-block mb-3"><button mat-icon-button (click)="routerLink('/courses/semester/1/')">
            <mat-icon>arrow_back</mat-icon>
          </button></span></b>
      <b><span class="page-title d-block mb-5" style="text-align: center;">Προσθήκη Μαθήματος</span></b>
      <div class="container add-form">
        <form [formGroup]="addCourseForm" (submit)="addCourse()">
          <div class="row">

            <div class="col-4 form-group">
              <mat-form-field>
                <input matInput placeholder="Κωδικός Μαθήματος *" formControlName="courseCode">
                <mat-error class="create-consent-error-hint"
                  *ngIf="courseCodeFormField.touched && courseCodeFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input type="number" min="1" max="8" matInput placeholder="Εξάμηνο *" formControlName="semester">
                <mat-error class="create-consent-error-hint"
                  *ngIf="semesterFormField.touched && semesterFormField.hasError('required')">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
                <mat-error class="create-consent-error-hint"
                  *ngIf="semesterFormField.touched && (semesterFormField.hasError('min') || semesterFormField.hasError('max'))">
                  Επιλογή εξαμήνου από 1 έως 8
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group">
              <mat-form-field>
                <input matInput placeholder="Τίτλος *" formControlName="title">
                <mat-error class="create-consent-error-hint" *ngIf="titleFormField.touched && titleFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-8 form-group">
              <mat-form-field>
                <textarea matInput placeholder="Περιγραφή *" formControlName="description"></textarea>
                <mat-error class="create-consent-error-hint"
                  *ngIf="descriptionFormField.touched && descriptionFormField.invalid">
                  Το πεδίο είναι υποχρεωτικό
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4 form-group d-flex" style="flex-direction: column;justify-content: space-evenly;">
              <mat-form-field>
                <mat-label>Διδάσκων *</mat-label>
                <input matInput [value]="professor" (click)="addProfessor()" readonly style="cursor: pointer;">
              </mat-form-field>

              <mat-form-field >
                <mat-select id="studiesType" formControlName="studiesType">
                  <mat-option [value]="0">ΠΠΣ</mat-option>
                  <mat-option [value]="10">ΠΜΣ1</mat-option>
                  <mat-option [value]="20">ΠΜΣ2</mat-option>
                  <mat-option [value]="30">ΠΜΣ3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-slide-toggle formControlName="obligatory">Υποχρεωτικό</mat-slide-toggle>

            </div>

            <div class="col-12"><b><span class="page-title d-block mb-5" style="text-align: center;">Εξοπλισμός που
                  απαιτείται</span></b></div>
            <div class="col-6">
              <div *ngFor="let equipment of equipment.controls; let i=index">
                <div>
                  <mat-icon *ngIf="i>0" (click)="removeEquipmentField(i)" class="submit-invoices-icon"
                    style="color: red;position: absolute;left: -5%;cursor: pointer;">clear</mat-icon>
                  <mat-form-field style="margin-bottom: 5px;">
                    <div>
                      <input id="typeCount" type="number" min="1" matInput placeholder="Ποσότητα"
                        [formControl]="$any(equipment).controls['typeCount']" required>
                    </div>
                    <mat-error *ngIf="equipment.get('typeCount')!.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                    <mat-error class="create-consent-error-hint" *ngIf="equipment.get('typeCount')!.hasError('min')">
                      Το πεδίο δεν είναι έγκυρο
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <div>
                      <input id="type" type="text" matInput placeholder="Τύπος Εξοπλισμού"
                        [formControl]="$any(equipment).controls['type']" required>
                    </div>
                    <mat-error *ngIf="equipment.get('type')!.hasError('required')">
                      Το πεδίο είναι υποχρεωτικό
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12 form-group">
              <button (click)="addEquipment()" mat-mini-fab color="accent" type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>

          <div class="form-group d-flex justify-content-center mt-5" style="width: 100%">
            <button type="submit" mat-raised-button color="primary" class="ml-2"
              [disabled]="addCourseForm.invalid || isLoading || professorFormField.value.length === 0">Δημιουργία</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
